/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;

  background: url("../images/background.png");
  background-size: 1440px 800px;
  background-repeat:no-repeat;
  display: compact;
  font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.name_nextTrue{
  color: green;
  font-size: 60px;
}

.name_nextFalse{
  color: red;
  font-size: 60px;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
  background: #FFFFFF;
}
.game{
  padding-right: 15px;
  padding-left: 15px;
  background: #FFFFFF;

}
#remaining{
  padding-right: 15px;
  padding-left: 15px;
  background: #FFFFFF;
}
.p1_score, .p2_score{
  font-size: 120px;
}
#p1_input, #p2_input{
  text-align: center;
   display: block;
}
#p1_darts, #p2_darts{
  font-size: 20px;
}

.score_title{
  font-size: 30px;
}

/* Custom page header */
.header {
  padding-bottom: 10px;
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

.title{
  margin-left: 30px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 960px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}