
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="jsell">
    <link rel="icon" href="ico/favicon.ico">
    <title>Darts</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/narrow.css" rel="stylesheet">
  </head>
<body>
<div class="container">

    {% if not user %}
      <div class="jumbotron">
        <h1>U want some?</h1>
        <p class="lead">Play 501 and calculate how many darts needed to check</p>
        <p><a class="btn btn-lg btn-success" href="{{ url|safe }}" role="button">Sign up now</a></p>
      </div>
    {% else %}

    <div class="header">
        <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><a href=""> {{greetings}} </a></li>
            <li role="presentation" class="active">
                <a data-toggle="modal" data-target="#new_game_modal">
                    New Game
                </a>
            <li role="presentation"><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
          </ul>
        </nav>
        <h3 class="title"><a href="/"> Darts Night</a> </h3>
    </div>

    {% if errors %}
    <div class="row">
        <div class="col-xs-10">
    {% for error in errors %}
        <div class="alert alert-warning">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
                 <span class="fa fa-warning"></span> {{ error }}
        </div>
    {% endfor %}
        </div>
    </div>
    {% endif %}

      {% if game %}
      <div class="row game">
        <div class="col-xs-12 text-center">
            <div id="game_messages">
            </div>
        </div>
      </div>
      <div class="row game">
        <div class="col-xs-12 text-center">
             <table class="table" border="0">
                <td width="20%">
                    <span class="p1_score">{{game.player1_score}}</span>
                </td>
            
        <form id="game_form" class="form" method="POST" action="javascript:game_score()" enctype="multipart/form-data">
        <input id="gid" name="gid" type="hidden" value="{{game.key()}}"/>
      
                <td width="10%">
                   <span id="p1_darts">
                   </span>
                </td>
                <td width="20%">
                    <span class="name_next{{ game.next == game.player1 }}">
                        {{game.player1}}       
                    </span>
                    <br/>
                    <br/>
                    <input id="p1_input" name="p1_input" class="form-control input-md"/>
                    {% if game.next == game.player1 %}
                    <input class="btn btn-primary" type="submit" value="Go"/>
                    {% endif %}
                </td>
                <td width="20%">
                    <span class="name_next{{ game.next == game.player2 }}">
                    {{game.player2}}
                    </span>
                    <br/>
                    <br/>
                    <input id="p2_input" name="p2_input" class="form-control input-md"/>
                    {% if game.next == game.player2 %}
                    <input class="btn btn-primary" type="submit" value="Go"/>
                    {% endif %}
                 </td>         
                 <td width="10%">
                    <span id="p2_darts">
                    </span>
                 </td>

            </form>

            <td width="20%">
               <span class="p2_score">{{game.player2_score}}</span>
            </td>
        </tr>
        </table>   

        </div>
      </div>

      {% elif games %}
      <div class="row game">
        <div class="col-xs-10">
            <h2>Recent Games</h2>
            <table class="table table-hover">
                {% for game in games %}
                <tr>
                   <td><a href="/?gid={{ game.key() }}"> {{game.player1}} vs {{game.player2}}</a></td>
                   <td>{{game.created}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        </div>
       {% endif %}

      <div class="row" id="remaining">
        <div class="col-xs-10">
            <hr/>
        </div>
      </div>

      <div class="row" id="remaining">
        <div class="col-xs-5">
            <form class="form" method="POST" action="javascript:remaining_for_check()" enctype="multipart/form-data">
            <div class="input-group">
                <label class="control-label" for="points">
                    Points remaining:
                </label>
                <input id="points" name="points" class="form-control input-lg"/>
            </div>

            <div class="input-group">
                <label class="control-label" for="first">
                    First dart:
                </label>
                <input id="first" name="first" class="form-control input-lg"/>
            </div>

            <div class="input-group">
                <label class="control-label" for="second">
                    Second dart:
                </label>
                <input id="second" name="second" class="form-control input-lg"/>
            </div>
            <input class="btn btn-primary" type="submit" value="Show scores">
           </form>
        </div>
        <div class="col-xs-5">
            <span id="success">
            </span>
            <span id="error">
            </span>
         </div>
        </div>

    {% endif %}
      

      <div id="new_game_modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addmodal" aria-hidden="true">
         <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;  </button>
                <h4 class="modal-title" id="addmodal">New Game</h4>
              </div>
              <div class="modal-body">
                <form class="form" method="POST" action="/new">
                    <input class="form-control input-md" name="player1" id="player1" placeholder="player1" required="true"/>
                    &nbsp;&nbsp;<b>vs</b>&nbsp;&nbsp;
                    <input class="form-control input-md" name="player2" id="player2" placeholder="player2"required="true" />

                    <!-- select class="form-control input-md" name="new_player1" id="new_player1">
                        {% for player in players %}
                            <option value="{{player.name}}">{{player.name}}</option>
                        {% endfor %}
                    </select -->
                    <button type="submit" class="btn btn-default" id="id_game_submit">
                      <span class="glyphicon glyphicon-plus">
                      </span>
                        Start Game
                    </button>
                </form>
                <br/><br/>
                </div>
              <div class="modal-footer">
              </div>
            </div>
          </div>
        </div>

    </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/js/bootstrap.min.js"></script>
<script>
function remaining_for_check(remaining){
    var points = remaining == undefined? $("#points").val() : remaining;
    var first = $("#first").val();
    var second = $("#second").val();

    $.post('{{root_url}}remaining',
    {
        points  : String(points),
        first  : String(first),
        second  : String(second),
    },
    function(data, status) {
        if (data.error){
            $("#error").html("<div class='alert alert-warning'>"+data['error']+"</div>");
        }
        else{
            var msg = "<div class='alert alert-success'>";
            for (rem in data.remaining){
                msg += data.remaining[rem]+"<br/>"
            }
            msg += " </div>";
            $("#success").html(msg)
        } 
    }
    );
}

function check_result_for_remaining(result){
    if (result < 180){
        $('#points').val(result)
        remaining_for_check(result)
    }
}

function darts_display(selector,darts){
    var dlist = darts.split(",");
    var elem = "";
    for (d in dlist){
        elem += dlist[d];
        elem += "<br/>";
    }
    $(selector).html(elem)
}


darts_display("#p1_darts", "{{game.player1_darts}}")
darts_display("#p2_darts", "{{game.player2_darts}}")


function game_score(){
    var p1 = $("#p1_input").val(), p2 = $("#p2_input").val(), gid = $("#gid").val();

    $.post('{{root_url}}score',
        {
            p1 : String(p1),
            p2 : String(p2),
            gid : String(gid),
        },
        function(data, status) {
            if (data.error){
                $("#game_messages").html("<div class='alert alert-warning'>"+data['error']+"</div>");
            }
            else{
                $(".p1_score").html(data.game.player1_score)
                $(".p2_score").html(data.game.player2_score)
                $("#p1_input").val('');
                $("#p2_input").val('');
                
                // focus input on next score
                if (data.game.next == data.game.player1){
                    $("#p1_input").focus();
                    check_result_for_remaining(data.game.player1_score)
                }
                else{
                    $("#p2_input").focus();   
                    check_result_for_remaining(data.game.player2_score)
                }

                // update next to shoot and winner if 0
                if(data.game.player1_score == '0'){
                    $("#game_messages").html("<div class='alert alert-success'>Winner "+data.game.player1+" </div>");
                }
                else if( data.game.player2_score == '0'){
                    $("#game_messages").html("<div class='alert alert-success'>Winner "+data.game.player2+"</div>");
                }
                else{
                    $("#game_messages").html("<b>"+data.game.next+"</b> to shoot");
                }

                darts_display("#p1_darts", data.game.player1_darts)
                darts_display("#p2_darts", data.game.player2_darts)

            } 
        }
    );
}

{% if game %}
{% if game.next == game.player1 %}
    $("#p1_input").focus();
{% else %}
    $("#p2_input").focus();
{% endif %}
{% endif %}


</script>

  </body>

</html>

